
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Gilroy' ;
  font-weight: bold;
  src: url(fonts/Gilroy-ExtraBold.otf) format("opentype");
}

@font-face {
  font-family: 'Gilroy' ;
  font-weight: lighter;
  src: url(fonts/Gilroy-Light.otf) format("opentype");
}
/* Base Level CSS  */

:root {
 font-family: 'Gilroy', sans-serif;
  --font-alt: 'Open Sans', sans-serif;

  --color-white: #FFFFFF;
  --color-whitedull: #F3F4F9;
  --color-primary: #08083D;
  --color-secondary: #6184D8;
  --color-green: #23CE6B;
  --color-greenLight: #91E6B5;
  --color-balck: #000000;
  --color-grey: #D9D9D9;
  --color-blueLight: #4D80FB;
  --color-whiteSecondary:#F1F3F4;
  --color-blue:#316EFF;
  --color--orange:#E86F3A;

}
html {

    overflow-x: hidden;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
a {
  color: unset;
  text-decoration: none;
}

/* Common Classes CSS  */

.section__padding {
  padding: 4rem 20rem;
}

.app__heading-white {
  font-size: 42px;
  color:white;
  font-weight: 700;
}


/* Individual Styling CSS for each section */


.app__main{
  background-image: linear-gradient(180deg, rgba(25, 77, 65 , 1), rgba(25, 77, 65 , 0.7) ),url('../assets/mainSection.png') ;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  height: 80vh;

}

.app__header {
  background-color: #08083D;
  display: flex;
  flex-direction: row;
  padding:1rem 8.125rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid white;
}

.app__header-logo p{
  font-size: 31px;
  color: var(--color-white);
  font-weight: 700;
  text-transform: uppercase;
}

nav{
  padding: 0 2rem;
}

nav a{
  color: var(--color-white);

  font-weight: 400;
  font-size: 16px;
  opacity: 1;
  font-weight: 400;
  padding: 0 10px;
}

nav a:hover{

  color: var(--color-grey);
  opacity: 1;

}

.app__header-button{
  background-color: var(--color-green);
  border: none;
  width: 140px;
  height: 40px;

  color: var(--color-white);

  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 17px;

  cursor: pointer;

}
@media screen and (max-width: 414px) {


}
/* Header for Tablet  */
@media screen and (max-width: 414px) {

.app__header {
  padding:1rem 4.125rem;
  overflow: hidden;
  width: 100%;
}
.app__header-logo p{
  font-size: 21px;

}
nav{
  display: none;
}
.app__header-button{
display: none;

}
}

/* Main Section Content */

.app__main-banner{
  /* background-image: url('images/bannerImg.png'); */
  background-color: #08083D;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app__main-content{
  padding-bottom: 100px;
}
.app__main-content--heading {
  font-size: 50px;
  color:white;
  font-weight: 700;
}
.app__main-content--subHeading{
    font-size: 45px;
  color:white;
  font-weight: 700;
  background-color: var(--color-blueLight);
  display: inline-block;
  margin: 10px 0px;
}
.app__main-content--paragraph{
  color: white;
  font-size: 16px;
  line-height: 25px;
  margin: 10px 0px;
}

.app__main-content-button{
   background-color: var(--color-green);
  border: none;
  width: 300px;
  height: 50px;

  color: var(--color-white);

  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  font-size: 17px;
  box-shadow: 0px 8px 8px #23CE6B80;
  cursor: pointer;
  margin-top: 30px;
}

.app__main-content-button:hover{
  
 transform: translate(0, -20px);
 transition: 0.2s ease-in-out;
}
/*
Main Section Responsive Mobile View */
@media screen and (max-width: 414px) {

.app__main-banner{
  /* background-image: url('images/bannerImg.png'); */
  background-color: #08083D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  gap: 1rem;
  width: 100%;
}
.app__main-content--heading {
  font-size: 35px;
  text-align: center;
  padding: 10px 0px;
}
.app__main-content--subHeading{
  font-size: 32px;
  text-align: center;
  display: block;
  margin: auto;
  padding: 10px 0px;
}
.app__main-content--paragraph{
  text-align: center;

}

.app__main-content-button{
 margin: auto;
 display: block;
}
}

.app__main-image{
  width: 350px;
  height: 150px;

}
.app__main-image img{
  width: 250px;
  height: 150px;

}

/* Details Styling */



.app__details{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 36px;
  background-color: var(--color-whitedull);

}

.app__details h1{
  padding-top: 1rem;
  color: var(--color-primary);
}


.app__details-check{
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 25px;
  padding: 10px;
}
.app__details-check img{
  width: 22px;
  height: 18px;
}
.app__details-check p{
  color: var(--color-primary);
  font-weight: bold;
}
/* App details mobile version styling */
@media screen and (max-width: 414px) {
.app__details{
  padding: 10px 1rem;
}

.app__details h1{
  padding-top: 3rem;
}
}

/* Gallery Section Styling */
.app__gallery{
  background-color: var(--color-primary);
}
.app__gallery--heading{
  text-align: center;
  padding: 20px 15px;
}

.app__gallery--subHeading{
  text-align: center;
  font-size: 16px;
  color: var(--color-white);
}


.app__gallery-images{
  display: flex;
  gap: 2.2rem;
  align-items: center;
  justify-content: center;
}

.app__gallery--image{
  width: 270px;
  height: 270px;

  margin-top: 2rem;
    object-fit: contain;
}

.app__gallery--image img{
  width: 100%;
  height: 100%;

}

.app__gallery--image h5{
  text-align: center;
  font-size: 18px;
  color: var(--color-white);
  font-weight: 500;
  margin-top: 1rem;
}

/* Gallery Section Mobile responsive */
@media screen and (max-width: 414px) {
.app__gallery{
  padding: 1rem 10px;
}
.app__gallery--heading{
  font-size: 30px;
}

.app__gallery--subHeading{
  text-align: center;
  font-size: 16px;
  color: var(--color-white);
}


.app__gallery-images{
  display: flex;
  gap: 2.2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app__gallery--image{
  width: 270px;
  height: 270px;

  margin-top: 2rem;
    object-fit: contain;
}

.app__gallery--image img{
  width: 100%;
  height: 100%;

}

.app__gallery--image h5{
  text-align: center;
  font-size: 18px;
  color: var(--color-white);
  font-weight: 500;
  margin-top: 1rem;
}
}

/* App ABout Styling */

.app__about{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blueLight);
  gap: 6rem;

}

.app__about-title{
   font-size: 42px;
  color: var(--color-white);
  font-weight: 700;
   padding: 40px 0px;
}
.app__about-title span{

  color:var(--color-green);
}

.app__about-para p{
  font-size: 16px;
  color: var(--color-white);
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.app__about--image{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;

}

.app__about--image1{
  width: 380px;
  height: 480px;
  position: relative;

}

.app__about--image2{
  width: 480px;
  height: 580px;
  position: absolute;
  right: 0px;

}

/* App ABout mobile responsive */
@media screen and (max-width: 414px) {

.app__about{
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.app__about-title{
   font-size: 32px;
   padding: 30px 0px;
}
.app__about--image{
  display: none;
}
.app__about--image1{
display:none

}

.app__about--image2{
visibility: hidden;

}

}


/* App Services Styling */

.app__services--heading{
  font-size: 42px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
}

.app__services--types{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

}

.app__service{

  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 1rem;

}
.app__service img{
  width: 180px;
  height: 180px;
}
.app__service h1{
  margin-top: 1rem;
  font-size: 21px;
  color: var(--color-primary);
}
.app__service p{
  text-align: center;
  margin: 1rem 0;
  font-size: 17px;
  color: var(--color-primary);
  line-height: 22px;
}

/* App Services mobile responsive */
@media screen and (max-width: 414px) {
  .app__services{
    padding: 1rem;
  }
.app__services--heading{
  font-size: 3x2px;

}

.app__services--types{
    display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;

}

.app__service{

  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 1rem;

}
.app__service img{
  width: 180px;
  height: 180px;
}
.app__service h1{
  margin-top: 1rem;
  font-size: 21px;
  color: var(--color-primary);
}
.app__service p{
  text-align: center;
  margin: 1rem 0;
  font-size: 17px;
  color: var(--color-primary);
  line-height: 22px;
}
}

/* App Step Section Styling */

.app__step{
  background:transparent linear-gradient(139deg, #6184D8 0%, #08083D 100%) 0% 0% no-repeat padding-box;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.app__step-content{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8rem;
   margin-top: 3rem;
}

.app__step-content--details h4{
  font-size: 21px;
  text-transform: uppercase;
  color: var(--color-green);
  font-weight: 600;
  margin: 1rem 0;
}

.app__step-content--details h5{
  font-size: 30px;
  color: var(--color-white);
  margin-bottom: 1rem;
}

.app__step-content--details p{
  font-size: 16px;
  color: var(--color-white);
  font-weight: normal;
}
.app__step-expand {
  width: 40px;
  height: 40px;
  margin-top: 2rem;
}

.app__step-content--image{
  background: transparent linear-gradient(328deg, #4D80FB 0%, #23CE6B 100%) 0% 0% no-repeat padding-box;;
  padding: 15px;
  border-radius: 50%;
}
.app__step-content--image img{
  width: 45px;
  height: 45px;
}



.app__step-footer{

  width: 60%;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 2px #6184D8;
border: 1px solid #FFFFFF;
border-radius: 20px;
margin-top: 4rem;

}

.app__step-footer h3{
  font-size: 35px;
  color: var(--color-white);
  font-weight: bold;
  margin-bottom: 2rem;
}

.app__step-footer p{
  font-size: 15px;
  color: var(--color-white);
  font-weight: bold;
  text-align: center;
  line-height: 23px;
}
/*
App Step Section Mobile responsive */
@media screen and (max-width: 414px) {

.app__step{
  padding: 1rem;
}

.app__step-heading{
  font-size: 35px;
  text-align: center;
  padding: 0 2rem;
}

.app__step-content{
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  margin: 2rem;

}

.app__step-content--details p{
  padding-bottom: 2rem;
}
.app__step-expand {
  width: 30px;
  height: 30px;
  margin: auto;
  display: block;
}


.app__step-footer{

  width: 100%;
  padding: 1rem;
  margin-top: 3rem;

}
.app__step-footer h3{
text-align: center;
padding: 0rem 2rem;
}

}
/* McDonal Call Section Styling */
.app__call{
  width: 100%;
  background-color: red;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.app__call-content{
  position: relative;

  z-index: 1;
  width: 60%;
  padding: 1rem 2rem 1rem 20rem;
}

.app__call-content h3{
  color: var(--color-green);
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 1.5rem;
}
.app__call-content p{
  color: var(--color-white);
  line-height: 23px;
  padding-bottom: 2rem;
}
.app__call-image{
position: absolute;

}

/* Mecdonald section Mobile Responsive */
@media screen and (max-width: 414px) {
  .app__call{
  width: 100%;
  background-color: var(--color-primary);
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

}
.app__call-content .mobilestyle{
  line-height: 40px;

}
.app__call-content{
  padding: 1rem;
  width: 100%;
}

.app__call-content h3{
  text-align: center;
}
.app__call-content p{

  text-align: center;
}
.app__call-image{
  display: none;
}
}


/* App Success Section Styling */

.app__success{
  margin-top: 6rem;
  background-image: url('images/successbanner.png') bottom center no-repeat;

    background-color: #6B6B8B;
  }

.app__success-title{
  padding: 2rem 0rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.app__success-title p{
  color: white;
}

.app__success-staffs{
  display: flex;
}
.app__success-staff{
  background-color: orange;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 0.5rem;
}

.app__success-staff--quote{
  width: 26px;
  height: 52px;
}
.app__success-staff--descp{
  font-size: 12px;
  color: white;
  text-align: center;
  line-height: 20px;
  padding: 10px 30px;
}

.app__success-staff-img{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: red;

}
.app__success-staff-img img{
 object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 50%
}

.app__success-staff-subdesp{
  font-size: 18px;
  color: white;

}
.app__success-staff-subtitle{
  font-size: 14px;
  color: white;
  font-weight: normal;
}

/* App Success Mobile Responsive Styling */

@media screen and (max-width: 414px) {
  .app__success{
  margin-top: 0rem;
}

.app__success-title{
  background-color: #6B6B8B;
}

.app__success-staffs{
  display: flex;
  flex-direction: column;
}


.app__success-staff--quote{
  width: 30px;
  height: 60px;
}
.app__success-staff--descp{
  font-size: 14px;
}

}
/* APp Gurantee Section Styling */

.app__gurantee{
  background: transparent linear-gradient(114deg, #6184D8 0%, #08083D 100%) 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0rem;
  gap: 1rem;
}

.app__gurantee img{
  width: 310px;
  height: 260px;
}

.app__gurantee p{
  font-size: 15px;
  font-weight: normal;
  color: white;
  padding: 1rem 28rem;
  text-align: center;
  line-height: 25px;
}

.app__gurantee h5{
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-align: center;
}

/* App Guranttee Mobile Section Styling */
@media screen and (max-width: 414px) {


.app__gurantee .mobileguranteestyle{
  font-size: 32px;
  text-align: center;
}
.app__gurantee img{
  width: 210px;
  height: 160px;
}

.app__gurantee p{
  padding: 1rem ;

}

}
/* Second Last Section Styling */
.app__lastsec{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}
.app__lastsec-image img{
  width: 450px;
  height: 325px;
}

.app__lastsec-content p{
  color: var(--color-primary);
  font-size: 16px;
  font-weight: bold;
}

.app__lastsec-content h4{
  color: var(--color-primary);
  font-size: 38px;
  font-weight: bold;
  padding: 2rem 0rem;
  line-height: 55px;
}
/*
Second Last Section Mobile Responsive */
@media screen and (max-width: 414px) {
.app__lastsec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  gap: 0rem;
  width: 100%;
}
.app__lastsec-image img{
visibility: hidden;
display: none;
}

.app__lastsec-content p{
text-align: center;
}

.app__lastsec-content h4{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 45px;
}
}

/* Footer Section Styling  */


.app__footer{
  background-color: #08083D;
  padding: 2rem 20rem;
}

.app__footer-info{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 2rem;
}

.app__footer-contact{

}
.app__footer-contact h5{
  color: var(--color-white);
  text-align: right;
  padding: 1rem 0rem;
}
.app__footer-contact p{
  color: var(--color-white);
  text-align: right;
  font-size: 12px;
  font-weight: normal;
}

.app__footer-mail , .app__footer-address{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  padding-bottom: 10px;
}
.app__footer-follow h5{
  color: var(--color-white);
  padding: 1rem 0rem;
  text-align: right;
}

.app__footer-follow--socials{
  padding-left: 20px;
}

.app__footer-follow--socials img{
  padding: 0px 5px;

}
.app__footer-links{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2rem 0rem;
}

.app__footer-links a{
  color: var(--color-whiteSecondary);
  padding: 0rem 3rem;
  font-size: 14px;

}

.app__footer-links p{
  color: var(--color-white);
  font-size: 14px;

}

/* Footer Section Mobile Responsive */

@media screen and (max-width: 414px) {
  .app__footer{

  padding: 1rem ;
}

.app__footer-info{
  display: none;
}


.app__footer-links{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0rem;
}

.app__footer-links a{
  color: var(--color-whiteSecondary);
  padding: 1rem 3rem;
  font-size: 16px;

}

.app__footer-links p{
 padding: 0rem 5rem;
 text-align: center;
}
.app__footer-links p{
 padding: 0rem 5rem;
 text-align: center;
}
}