
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Gilroy' ;
  font-weight: bold;
  src: url(fonts/Gilroy-ExtraBold.otf) format("opentype");
}

@font-face {
  font-family: 'Gilroy' ;
  font-weight: lighter;
  src: url(fonts/Gilroy-Light.otf) format("opentype");
}
/* Base Level CSS  */

:root {
 font-family: 'Gilroy', sans-serif;
  --font-alt: 'Open Sans', sans-serif;
  
  --color-white: #FFFFFF;
  --color-whitedull: #F3F4F9;
  --color-primary: #08083D;
  --color-secondary: #6184D8;
  --color-green: #23CE6B;
  --color-greenLight: #91E6B5;
  --color-balck: #000000;
  --color-grey: #D9D9D9;
  --color-blueLight: #4D80FB;
  --color-whiteSecondary:#F1F3F4;
  --color-blue:#316EFF;
  --color--orange:#E86F3A;

}
html {
  
    overflow-x: hidden;
 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
a {
  color: unset;
  text-decoration: none;
}

/* Common Classes CSS  */

.section__padding {
  padding: 4rem 20rem;
}

.app__heading-white {
  font-size: 42px;
  color:white;
  font-weight: 700;
}





/* Individual Styling CSS for each section */


.app__main{
  background-image: linear-gradient(180deg, rgba(25, 77, 65 , 1), rgba(25, 77, 65 , 0.7) ),url('../assets/mainSection.png') ;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  height: 80vh;
  
}

.app__header {
  background-color: #08083D;
  display: flex;
  flex-direction: row;
  padding:1rem 8.125rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid white;
}

.app__header-logo p{
  font-size: 31px;
  color: var(--color-white);
  font-weight: 400;
}

nav{
  padding: 0 2rem;
}

nav a{
  color: var(--color-white);
 
  font-weight: 400;
  font-size: 16px;
  opacity: 1;
  font-weight: 400;
  padding: 0 10px;
}

nav a:hover{
  
  color: var(--color-grey);
  opacity: 1;

}

.app__header-button{
  background-color: var(--color-green);
  border: none;
  width: 140px;
  height: 40px;
  
  color: var(--color-white);

  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 17px;

  cursor: pointer;

}



/* Header for Tablet  */
@media screen and (max-width: 768px) {

 .app__main{
  height: 1000px;
  width: 100%;
}
.app__header-bar{
  visibility: hidden;
}
.app__header{
  padding: 1rem 1rem;
  display: flex;

}
nav{
 width: 100%;
}

}

/* Main Section Content */

.app__main-banner{
  /* background-image: url('images/bannerImg.png'); */
  background-color: #08083D;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app__main-content{
  padding-bottom: 100px;
}
.app__main-content--heading {
  font-size: 50px;
  color:white;
  font-weight: 700;
}
.app__main-content--subHeading{
    font-size: 45px;
  color:white;
  font-weight: 700;
  background-color: var(--color-blueLight);
  display: inline-block;
  margin: 10px 0px;
}
.app__main-content--paragraph{
  color: white;
  font-size: 16px;
  line-height: 25px;
  margin: 10px 0px;
}

.app__main-content-button{
   background-color: var(--color-green);
  border: none;
  width: 300px;
  height: 50px;
  
  color: var(--color-white);

  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  font-size: 17px;
box-shadow: 0px 8px 8px #23CE6B80;
  cursor: pointer;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {

}

.app__main-image{
  width: 810px;
  height: 510px;
  padding-top: 50px;
}
.app__main-image img{
  width: 100%;
  
}

/* Details Styling */



.app__details{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 36px;
  background-color: var(--color-whitedull);

}

.app__details h1{
  padding-top: 1rem;
  color: var(--color-primary);
}


.app__details-check{
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 25px;
  padding: 10px;
}
.app__details-check img{
  width: 22px;
  height: 18px;
}
.app__details-check p{
  color: var(--color-primary);
  font-weight: bold;
}



/* Gallery Section Styling */
.app__gallery{
  background-color: var(--color-primary);
}
.app__gallery--heading{
  text-align: center;
  padding: 20px 15px;
}

.app__gallery--subHeading{
  text-align: center;
  font-size: 16px;
  color: var(--color-white);
}


.app__gallery-images{
  display: flex;
  gap: 2.2rem;
  align-items: center;
  justify-content: center;
}

.app__gallery--image{
  width: 270px;
  height: 270px;
 
  margin-top: 2rem;
    object-fit: contain;
}

.app__gallery--image img{
  width: 100%;
  height: 100%;

}

.app__gallery--image h5{
  text-align: center;
  font-size: 18px;
  color: var(--color-white);
  font-weight: 500;
  margin-top: 1rem;
}


/* App ABout Styling */

.app__about{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blueLight);
  gap: 6rem;
 
}

.app__about-title{
   font-size: 42px;
  color: var(--color-white);
  font-weight: 700;
   padding: 40px 0px;
}
.app__about-title span{

  color:var(--color-green);
}

.app__about-para p{
  font-size: 16px;
  color: var(--color-white);
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.app__about--image{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  
}

.app__about--image1{
  width: 380px;
  height: 480px;
  position: relative;
  
}

.app__about--image2{
  width: 480px;
  height: 580px;
  position: absolute;
  right: 0px;
  
}


/* App Services Styling */

.app__services--heading{
  font-size: 42px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
}

.app__services--types{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

}

.app__service{

  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 1rem;
  
}
.app__service img{
  width: 180px;
  height: 180px;
}
.app__service h1{
  margin-top: 1rem;
  font-size: 21px;
  color: var(--color-primary);
}
.app__service p{
  text-align: center;
  margin: 1rem 0;
  font-size: 17px;
  color: var(--color-primary);
  line-height: 22px;
}








.app__testimonial{
  padding: 2rem 8.125rem;
}

.app__testimonial-section{
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 35px;
  
}

.app__testimonial-image img{
  width:269px;
  height:269px;
  object-fit: fill;
  border-radius: 10px 0px 0px 10px;
}
.app__testimonial--content{
  background-color: #194D44;
  height: 270px;
  padding: 3rem 2rem;
  border-radius: 0 10px 10px 0;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.12);
}

.app__testimonial--content-name{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
}

.app__testimonial--content-name img{
  width:60px;
  height: 47px;
}

.app__testimonial--content-name h4{
  font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 34px;
color:var(--color-white)
}
.app__testimonial--content p{
  color: var(--color-white);
  font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 28px;
}
.app__testimonial-dots{
  display: flex;
  gap:8px;
  justify-content: center;
  padding-top: 2.5rem;
}

.app__testimonial-dot:nth-child(1){
  background-color: #5BC8AF;
}
.app__testimonial-dot{
  width: 10px;
  height: 10px;
  background-color: #EAEAEA;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .app__testimonial{
  padding: 2rem;
}

.app__testimonial-section{
  gap: 20px;
}

.app__testimonial-image img{
  width:197px;
  height:197px;
}
.app__testimonial--content{
  height: 197px;
  padding: 1rem 1rem;
}

.app__testimonial--content-name{
  padding-bottom: 10px;
}

.app__testimonial--content-name img{
  width:40px;
  height: 31px;
}

.app__testimonial--content-name h4{
font-size: 18px;

}
.app__testimonial--content p{

font-size: 0.9rem;
line-height: 26px;
}
.app__testimonial-arrows{
  display: none;
}

}
/* Details Section Styling */

.app__details{
   padding: 2rem 8.125rem;
}
.app__details-para{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  padding-top: 1.75rem;
}

.app__details-para div{
  width: 100%;
}

.app__details-para div p{
 color:  #333333;
 font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}


.app__details-button{
  border: 2px solid #5BC8AF;
  border-radius: 4px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  
.app__details{
   padding: 2rem 1rem;
}
.app__details-para{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}



.app__details-button{
  border: 2px solid #5BC8AF;
  border-radius: 4px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  display: grid;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
}
/* Video Section Styling */

.app__video{
  display: flex;
  height: 650px;
}

.app__video-content{
  background-color: #194D44;
  padding: 2rem 8.125rem;
  width: 60%;
  height: 650px;
}

.app__video-content h1{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 72px;
  color: var(--color-white);
  padding-bottom: 2rem; 
} 

.app__video-content span{
  color:transparent;
  -webkit-text-stroke:0.5px white;
  font-size: 2.5rem;
}

.app__video-content--point-tick{
  display: flex;
  align-items: center;
  padding-bottom: 0.75rem;
}

.app__video-content--point-tick img{
  width:17.6px;
  height:13.4px
}
.app__video-content--point-tick h4{
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: var(--color-white);
  padding-left: 2rem;
 
}

.app__video-content--point p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 3rem;
  padding-bottom: 2rem;
}
.app__video-video{
    position: relative;
  width: 40%;
  height: 650px;
  background-color: orange;
  color: orange;
  
}
.app__video-video video{
 
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  object-fit: cover;
}
/* .active{
  
} */
.app__video-video .outer-border{
  border: 1px solid white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
   display: flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;
}
 .outer-border:hover{
   width: 120px;
  height: 120px;
  background-color: orange;
}
.app__video-video .inner-border{
  border: 1px solid white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #5BC8AF;
  opacity: 0.8;
   display: flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;
}
.app__video-video img{
  width: 30px;
  height: 34px;
  
}

.app__video-play-button{
  position: absolute;
  right: 35%;
  top: 40%;
}


/* .app__video-video button{
      background-color: orange;
    border: medium none;
    color: #fff;
    display: block;
    font-size: 18px;
    left: 0;
    margin: 0 auto;
    padding: 8px 16px;
    position: absolute;
    right: 0;
    top: 50%;
} */



/* Footer Section Styling  */

.app__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8.125rem;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.app__footer-links{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__footer-links--slash{
  width: 1px;
  height: 13px;
  background-color: #757575;
  margin: 1rem;
}

/* //tool tip */

/* .app__main-form--group .tooltiptext {
  visibility: visible;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.app__main-form--group .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #FF7777;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 40px;
  left:4rem;
  margin-left: -60px;
  font-size: 12px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #FF7777 transparent;
}


.app__main-form-fields .app__main-form--group.error .app__main-form--input{
  border-color: #FF7777;
}

.app__main-form-fields .app__main-form--group.error  .tooltip .tooltiptext {
  visibility: visible;
  
}